.container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: 0.365;
}

@media print {
  .container {
    height: auto;
    min-height: inherit;
  }
}
